<!DOCTYPE html>
 <html lang="es">
 
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Agenda</title>
   <link rel="stylesheet" href="../styles/agenda.css">
   <style>
    .table-container {
      max-height: 400px;  
      overflow-y: auto;   
      overflow-x: auto;    
      border: 1px solid #ddd;
      border-radius: 8px;
    }

    /* Para que el encabezado quede fijo arriba */
    .table-container thead th {
      position: sticky;
      top: 0;
      background: #585197;
      z-index: 2;
      border-bottom: 2px solid #ddd;
    }

   </style>
 </head>
 
 <body>
  <header>
    <nav class="menu">
      <ul id = menu-lista></ul>
    </nav>
  </header>

  <div class="container">
    <main>
      <h1>Agenda de Servicios</h1>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Contacto</th>
            <th>Servicio</th>
            <th>Descripción</th>
            <th>Origen</th>
            <th>Destino</th>
          </tr>
        </thead>
        <tbody id="agenda-body"></tbody>
      </table>
    </div>


        <div id="load-more-container" style="text-align:center; margin-top: 15px;"></div>

      </div>
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../controllers/agenda.js"></script>
 </body>
 </html>